<form class="user-preferences-form" [formGroup]="userPreferencesForm" novalidate>
  <p>Food allergies?</p>
  <mat-radio-group class="full-width" formControlName="hasAllergies">
    <mat-radio-button value="no">No</mat-radio-button>
    <mat-radio-button type="radio" value="yes">Yes</mat-radio-button>
  </mat-radio-group>

  <mat-form-field class="full-width">
    <mat-select placeholder="Allergies" formControlName="allergies" multiple>
      <mat-option *ngFor="let type of allergies" [value]="type.value">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-select formControlName="diet" [(value)]="selected" placeholder="Diet">
      <mat-option *ngFor="let type of diet" [value]="type">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button class="submit" mat-raised-button color="primary" (click)="submitPreferences()" type="submit">Submit</button>
</form>