.registration{
   
}
.container{
// background: #fff;
// min-width: 350px;
// max-width: 650px;
// border: 1px solid rgba(0,0,0,.54);
// padding: 12px;
// text-align: center;

.full-width{
    width: 100%;
}
.submit{
    width: 100%;
    display: block;
    padding: 6px 12px;
    text-transform: uppercase;
    margin-top: 16px;
}
}