.delivery-picker {
  .mat-button-toggle {
    font-size: 1em;
    padding: .3em;
    color: rgba(0,0,0,.6);

    .mat-icon {
      font-size: 2em;
      height: 100%;
      width: auto;
    }

    &.mat-button-toggle-checked {
      color: #fff;
      background: #3f51b5;
    }
  }
}

.text-block {
  min-width: 535px;
}

.info {
  color: rgba(0,0,0,.32);
}
