<div fxLayout="column" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="space-around start" class="text-block">
    <p class="info">
      &#8277; Orders are delivered on Sundays to insure freshness of the groceries
    </p>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-button-toggle-group class="delivery-picker" #group="matButtonToggleGroup" [value]="deliverySlot" (change)="onFilterChange(group.value)">
      <mat-button-toggle value="8am-12noon">
        <div class="icon" fxLayout="column" fxLayoutAlign="space-around center">
          <mat-icon>access_time</mat-icon>
        </div>
        <div class="label">Sunday: 8am - 12noon</div>
      </mat-button-toggle>
      <mat-button-toggle value="12noon-5pm">
        <div class="icon" fxLayout="column" fxLayoutAlign="space-around center">
          <mat-icon>access_time</mat-icon>
        </div>
        <div class="label">Sunday: 12noon - 5pm</div>
      </mat-button-toggle>
      <mat-button-toggle value="5pm-9pm">
        <div class="icon" fxLayout="column" fxLayoutAlign="space-around center">
          <mat-icon>access_time</mat-icon>
        </div>
        <div class="label">Sunday: 5pm - 9pm</div>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">

</div>