<div fxLayout="row">
  <p class="label" fxFlex="70" fxFlexOffset="15">Select delivery time slot</p>
</div>
<div fxLayout="row">
  <div fxFlex="70" fxFlexOffset="15">
    <mat-button-toggle-group class="delivery-picker" #group="matButtonToggleGroup" [value]="deliverySlot" (change)="onFilterChange(group.value)">
      <mat-button-toggle value="8am-12noon">
        <div class="icon" fxLayout="column" fxLayoutAlign="space-around center">
          <mat-icon>access_time</mat-icon>
        </div>
        <div class="label">Sunday: 8am - 12noon</div>
      </mat-button-toggle>
      <mat-button-toggle value="12noon-5pm">
        <div class="icon" fxLayout="column" fxLayoutAlign="space-around center">
          <mat-icon>access_time</mat-icon>
        </div>
        <div class="label">Sunday: 12noon - 5pm</div>
      </mat-button-toggle>
      <mat-button-toggle value="5pm-9pm">
        <div class="icon" fxLayout="column" fxLayoutAlign="space-around center">
          <mat-icon>access_time</mat-icon>
        </div>
        <div class="label">Sunday: 5pm - 9pm</div>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<div fxLayout="row">
  <p fxFlex="70" fxFlexOffset="15" class="info">
    &#8277; The order is delivered on Sunday to insure freshness of your groceries
  </p>
</div>