<div class="mobile" fxLayout="column">
  <div routerLink="profile" (click)="draw.close()" fxFlex="15" fxLayout="column" fxLayoutAlign="space-evenly center" class="user">
    <div *ngIf="user">
      <div class="avatar">
        <mat-icon *ngIf="!user.avatar" class="avatar-default">account_circle</mat-icon>
        <img *ngIf="user.avatar" [src]="user.avatar" class="avatar-custom">
        <div class="hat">
          <svg-icon src="assets/icons/lazy-menu-hat.svg"></svg-icon>
        </div>
      </div>
      <h3>{{getUserName(user.email)}}</h3>
    </div>
  </div>
  <mat-nav-list fxFlex="50">
    <mat-list-item mat-button (click)="openMenu('current', 5)" (click)="draw.close()">
      <h3 matLine>This Week</h3>
    </mat-list-item>
    <mat-list-item mat-button (click)="openMenu('next', 5)" (click)="draw.close()">
      <h3 matLine>Next Week</h3>
    </mat-list-item>
    <mat-list-item mat-button (click)="openMenu('pending', 5)" (click)="draw.close()">
      <h3 matLine>Pending Menu</h3>
    </mat-list-item>

    <!-- <mat-list-item mat-button routerLink="plans" (click)="draw.close()">
      <h3 matLine>Plans</h3>
    </mat-list-item>
    <mat-list-item mat-button routerLink="how" (click)="draw.close()">
      <h3 matLine>How it works</h3>
    </mat-list-item> -->
  </mat-nav-list>
  <div fxFlex="grow"></div>
  <div fxFlexAlign="center" fxFlex="20" class="log-out">
    <button mat-raised-button color="accent" (click)="logout(); draw.close()">
      <mat-icon>exit_to_app</mat-icon>
      Log out
    </button>
  </div>
</div>