<div fxFlex="100" fxLayout="column" fxLayoutAlign=" none">
  <div fxFlexOffset.xl="10" fxFlexOffset.lg="10" fxFlexOffset.md="5" fxFlexOffset.sm="0" fxFlexOffset.xs="0" fxLayout="row"
    fxLayoutAlign="center stretch">
    <mat-card *ngIf="registrationStep == 1" fxFlex="33" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="100" class="relative">
      <mat-progress-bar [color]="'primary'" [mode]="'determinate'" [value]="50" class="absolute top">
      </mat-progress-bar>
      <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="isLoading">
        <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'"></mat-progress-spinner>
      </div>
      <div *ngIf="!isLoading">
        <h3 class="subheading-2" *ngIf="!forgotPasswordOpen" (click)="registrationOpen = false; forgotPasswordOpen = false" [ngClass]="{'inactive': registrationOpen}">
          Login
        </h3>
        <div class="form-container" fxLayout="column" fxLayoutAlign=" stretch">
          <div [ngClass]="{'inactive': (registrationOpen || forgotPasswordOpen)}">
            <app-log-in (submitted)="logIn($event)"></app-log-in>
            <div class="forgot-password-btn">
              <a (click)="forgotPasswordOpen = true" *ngIf="!forgotPasswordOpen">Forgot password?</a>
            </div>
            <div class="social-container" fxLayout="row" fxLayoutAlign="space-between none">
              <button mat-raised-button class="social-login facebook" fxFlex="50" (click)="loginWithFacebook()">
                <svg-icon src="assets/icons/facebook-icon.svg"></svg-icon>
                Login with Facebook
              </button>
              <button mat-raised-button class="social-login google" fxFlex="50" (click)="loginWithGoogle()">
                <svg-icon src="assets/icons/google-icon.svg"></svg-icon>
                Login with Google
              </button>
            </div>
          </div>
          <div class="forgot-password" [ngClass]="{'active': forgotPasswordOpen}">
            <app-forgot-password (submitted)="resetPassword($event)"></app-forgot-password>
          </div>
        </div>
        <div class="divider">&mdash;&mdash;&mdash; OR &mdash;&mdash;&mdash;</div>
        <h3 class="subheading-2" (click)="registrationOpen = true; forgotPasswordOpen = false" [ngClass]="{'inactive': !registrationOpen}">
          Register
        </h3>
        <div class="form-container" fxLayout="column" fxLayoutAlign=" stretch">
          <div [ngClass]="{'inactive':!registrationOpen}">
            <app-registration (submitted)="register($event)"></app-registration>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card *ngIf="registrationStep == 2" fxFlex="33" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="100" class="relative">
      <mat-progress-bar [color]="'primary'" [mode]="'determinate'" [value]="90" class="absolute top">
      </mat-progress-bar>
      <mat-progress-bar *ngIf="processingForm" [color]="'primary'" [mode]="'query'" class="absolute top">
      </mat-progress-bar>
      <div class="form-container" fxLayout="column" fxLayoutAlign=" stretch">
        <app-preferences [state]="'edit'" (submitted)="submitPreferences($event)"></app-preferences>
      </div>
    </mat-card>
  </div>
</div>