<div *ngIf="showContent">
  <input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="password">

  <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>
  <button (click)="loginWithGoogle()">Login with Google</button>
  <!-- <button (click)="loginWithTwitter()">Login with Twitter</button> -->
  <button (click)="loginWithFacebook()">Login with Facebook</button>
</div>