<mat-card class="example-card">
        <mat-card-header>
          <a [routerLink]="['/recipe', recipe.id]">        
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ recipe.name }}</mat-card-title>
            <mat-card-subtitle>{{ recipe.time }} min</mat-card-subtitle>
          </a>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p *ngFor="let method of recipe.method">
            {{ method }}
          </p>
          <mat-list role="list">
              <mat-list-item *ngFor="let ingredients of recipe.ingredients" role="listitem">
                  <p mat-line>{{ ingredients.name }}</p>
                  <p mat-line *ngFor="let ingredient of ingredients.ingredients">{{ ingredient }}</p>
              </mat-list-item>
          </mat-list>
        <span class="button is-small is-info" (click)='addLikeToRecipe(recipe.likes)'>
            Likes <i class="fa fa-like"></i>
        </span>
        <span class="button is-small is-danger" (click)='deleteRecipe(recipe?.id)'>Delete</span>
        <p>This recipe has been liked {{ recipe.likes || 0 }} times.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>


