<mat-card class="recipe-card">
  <div class="image-container">
    <img class="recipe-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <!-- <img class="recipe-image" [src]="recipe.thumbnail" alt="Photo of a {recipe.name}}"> -->
    <div class="image-overlay"></div>
  </div>
  <div class="overlay-name">
    <h2 class="title">
      <a [routerLink]="['/recipe', recipe.id]">
        {{ recipe.name }}
      </a>
    </h2>
  </div>
  <mat-card-content>
    <mat-chip-list class="diet-tags" ariaOrientation="horizontal" *ngIf="recipe.diet.length">
      <mat-chip *ngFor="let diet of recipe.diet">
        {{diet}}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <div fxLayout="row" fxLayoutAlign="start stretch" class="recipe-footer">
    <div class="time">{{ recipe.time }} min</div>
    <div class="like" (click)='addLikeToRecipe(recipe.likes)'>
      <mat-icon>favorite</mat-icon>
      {{recipe.likes || 0}}
    </div>
  </div>

  <!-- <mat-card-actions> -->


  <!-- </mat-card-actions> -->
</mat-card>