.recipe-card {
  &.mat-card {
    padding: 0;
  }
  .image-container {
    position: relative;
    cursor: pointer;
    .recipe-image {
      width: 100%;
    }
    .image-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(rgba(250, 250, 250, 0.3));
      opacity: 0;
      transition: opacity 0.3s linear;
      -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
  .overlay-name {
    border-top: 1px solid darken(#b4b4b4, 10%);
    z-index: 2;
    padding: 5px 15px;
    position: relative;
    margin-top: -3px;
  }
  .title {
    line-height: 125%;
    margin: 5px 0 0;
    font-size: 1em;
    font-weight: 500;
    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.86);
      &:active,
      &:focus,
      &:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.68);
      }
    }
  }
  .recipe-footer {
    padding: 5px 15px 10px 15px;
  }
  .time {
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.86);
    line-height: 24px;
    padding-left: 4px;
  }
  .diet-tags {
    height: 34px;
    ::ng-deep .mat-chip-list-wrapper {
      padding: 5px 15px;
      height: 24px;
    }
    .mat-chip {
      color: rgba(0, 0, 0, .5);
      border: 1px solid #e0e0e0;
      padding: 2px 8px;
      background-color: transparent;
      cursor: default;
      &:hover,
      & :active,
      &:focus {
        box-shadow: none;
      }
    }
  }
}