@mixin AbsoluteElement() {
  .relative {
    position: relative;

    &/deep/.absolute,
    .absolute {
      position: absolute;

      &.top {
        top: 0;
        left: 0;
        right: 0;
      }

      &.bottom {
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
@mixin fullWidthForm() {
  .full-width {
    width: 100%;

    /deep/.mat-form-field-wrapper {
      font-size: 1.2em;
    }
  }

  .submit {
    width: 100%;
    display: block;
    padding: 6px 12px;
    text-transform: uppercase;
    margin-top: 16px;
  }
}
