<footer class="footer light">
    <div fxLayout="row" fxLayoutAlign="space-between none">
        <div>
            <a class="item" target="_blank" rel="noopener noreferrer" alt="link to Instagram" href="https://www.instagram.com/lazy.menu/?hl=en">
                <svg-icon src="assets/icons/instagram-icon.svg"></svg-icon>
            </a>
            <a class="item" target="_blank" rel="noopener noreferrer" alt="link to Facebbok" href="https://www.facebook.com/Lazy-Menu-200183230599173/">
                <svg-icon src="assets/icons/facebook-icon.svg"></svg-icon>
            </a>
            <a class="item you-tube" target="_blank" rel="noopener noreferrer" alt="link to YouTube" href="https://www.youtube.com/channel/UCuTo46T0S33Oc5ZBoEo4Z6g">
                <svg-icon src="assets/icons/you-tube-icon.svg"></svg-icon>
            </a>
        </div>
        <div class="copy" fxFlexAlign=" end">Lazy Menu &copy;2018</div>
    </div>
</footer>