<div style="height: 100vh;">
    <mat-toolbar color="primary" class="main-nav">
        <div fxShow="true" fxHide.lt-md="true" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo" routerLink="menu" fxFlex>
                <svg-icon src="assets/icons/lazy-menu-hat.svg"></svg-icon>
            </div>
            <a mat-button routerLink="menu" class="menu-item" fxFlex>
                <mat-icon matListIcon>room_service</mat-icon>
                Menu
            </a>
        </div>
        <div fxFlex="grow" fxFlex.sm="0" fxFlex.xs="0"></div>
        <div fxShow="true" fxHide.lt-md="true" class="user-block" fxFlex.sm="0" fxFlex.xs="0" fxFlex>
            <div [matMenuTriggerFor]="menu" *ngIf="user | async as user" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="avatar-holder">
                    <mat-icon *ngIf="!user.avatar" class="avatar-default">account_circle</mat-icon>
                    <img *ngIf="user.avatar" [src]="user.avatar" class="avatar-custom">
                </div>
                <div class="block">
                    {{getUserName(user.email)}}
                </div>
                <mat-icon class="caret">arrow_drop_down</mat-icon>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="profile">
                    <mat-icon>account_circle</mat-icon>
                    Profile
                </button>
                <button mat-menu-item class="log-out" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    Log out
                </button>
            </mat-menu>
        </div>
        <div fxShow="true" fxHide.gt-sm="true" fxFlex="100" fxLayout="row">
            <button fxFlex="10" mat-icon-button (click)="toggleDrawer(drawer)">
                <mat-icon class="md-24">menu</mat-icon>
            </button>
            <div fxFlex="100">
                <div class="logo small" routerLink="menu">
                    <svg-icon src="assets/icons/lazy-menu-hat.svg"></svg-icon>
                </div>
            </div>
            <div fxFlex="10"></div>
        </div>
    </mat-toolbar>
    <mat-drawer-container fxFlexFill class="mobile">
        <mat-drawer #drawer fxLayout="column" fxFlex="90">
            <div routerLink="profile" (click)="drawer.close()" fxFlex="15" fxLayout="column" fxLayoutAlign="space-evenly center" class="user">
                <div *ngIf="user | async as user">
                    <div class="avatar">
                        <mat-icon *ngIf="!user.avatar" class="avatar-default">account_circle</mat-icon>
                        <img *ngIf="user.avatar" [src]="user.avatar" class="avatar-custom">
                    </div>
                    <h3>{{getUserName(user.email)}}</h3>
                </div>
            </div>
            <mat-nav-list fxFlex="50">
                <mat-list-item mat-button routerLink="menu" (click)="drawer.close()">
                    <mat-icon matListIcon>shopping_cart</mat-icon>
                    <h3 matLine> Plans</h3>
                </mat-list-item>
                <mat-list-item mat-button routerLink="menu" (click)="drawer.close()">
                    <mat-icon matListIcon>room_service</mat-icon>
                    <h3 matLine> Menu</h3>
                </mat-list-item>
            </mat-nav-list>
            <div fxFlex="grow"></div>
            <div fxFlexAlign="center" fxFlex="20" class="log-out">
                <button mat-raised-button color="accent" (click)="logout(); drawer.close()">
                    <mat-icon>exit_to_app</mat-icon>
                    Log out
                </button>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <div fxLayout="column">
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutWrap>
                    <router-outlet fxFlex="100"></router-outlet>
                </div>
                <footer fxFlex="100" class="footer light">
                    <div fxLayout="row">
                        <span>Powered by Uliana ©2010-2018.</span>
                    </div>
                </footer>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>