@import '~app/core/lm-theme.scss';
@include lazy-menu-theme($lm-app-theme);

.main {
  .mat-drawer-container {
    background: none;
    background-color: transparent;
  }
}

.mobile {
  ::ng-deep .mat-nav-list {
    .mat-list-icon {
      color: $opaque-light-grey;
    }

    .mat-list-item .mat-list-text {
      color: $opaque-dark-grey;
    }
  }

  .mat-drawer {
    min-width: 175px;
  }
}