<div style="height: 100vh;" class="main">
    <app-navigation *ngIf="user" [user]="user" [draw]="drawer" (logOut)="logout($event)"></app-navigation>
    <mat-drawer-container fxFlexFill class="mobile">
        <mat-drawer #drawer fxLayout="column" fxFlex="90">
            <app-side-nav *ngIf="user" [user]="user" (logOut)="logout($event)" [draw]="drawer">
            </app-side-nav>
        </mat-drawer>
        <mat-drawer-content fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch">
            <div fxFlex>
                <router-outlet></router-outlet>
            </div>
            <footer class="footer light">
                <div fxLayout="row" fxLayoutAlign="space-between none">
                    <div>
                        <a class="item">Facebook</a>
                        <a class="item">Instagram</a>
                    </div>
                    <div class="item" fxFlexAlign=" end">All rights reserved Lazy Menu ©2018</div>
                </div>
            </footer>
        </mat-drawer-content>
    </mat-drawer-container>
</div>