.main-container {
  position: relative;
}

.white-card {
  background: #fff;
  padding: 20px 30px;
  border-radius: 3px;
  border: 1px solid #fafafa;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  position: relative;
}

.heading-container {
  position: relative;
}

.recipe-image {
  margin-right: -10px;
  margin-left: -10px;
  background-color: #e0e0e0;
  position: relative;
  padding-bottom: 570px;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }
  @media (max-width: 1496px) and (min-width: 1025px) {
    padding-bottom: 500px;

    img {
      top: 70%;
    }
  }
  @media (max-width: 1024px) {
    img {
      top: 100%;
    }
  }
}

.ingredients-list {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 2;
  background: #fafafa;
  padding: 10px 15px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  min-width: 350px;
  width: 30%;
  border-radius: 1px;

  h3 {
    padding: 0 16px;
  }

  .mat-list {
    padding: 0;
  }

  .mat-line {
    font-size: 1em;
    padding-bottom: 10px;
  }

  .amount {
    font-weight: bold;
    padding-right: 5px;
  }
  @media (max-width: 1024px) {
    position: relative;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 100%;
  }
}

.recipe-heading {
  position: absolute;
  left: 35px;
  right: 35px;
  bottom: -110px;

  .time {
    line-height: 24px;
    font-weight: bold;

    .mat-icon {
      vertical-align: bottom;
    }
  }

  .diet-tags {
    ::ng-deep .mat-chip-list-wrapper {
      padding: 5px 0 0;
      border-left: 1px solid lighten(#b4b4b4, 10%);
    }

    .mat-chip {
      color: rgba(0, 0, 0, .5);
      border: 1px solid #e0e0e0;
      padding: 3px 12px;
      background-color: transparent;
      cursor: default;

      &:active,
      &:focus,
      &:hover {
        box-shadow: none;
      }
    }
  }
  @media (max-width: 1024px) {
    bottom: auto;
    top: 0;
    left: -2px;
    right: -2px;
  }
}

.recipe-method {
  margin: 130px 35px 35px;

  .step-number {
    font-size: 1.7em;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
    border-radius: 40px;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    height: 40px;
    line-height: 40px;
  }

  .step-description {
    font-size: 1.1em;
    line-height: 125%;
  }
  @media (max-width: 1024px) {
    margin: 10px 0 0;
    position: relative;
  }
}

.btn-container {
  position: absolute;
  z-index: 1;
  top: -46px;
  right: 35%;
  padding: 15px;

  .play {
    position: relative;
    border: none;
    padding: 3px;
    color: #fff;
    background: #3f51b5;
    border-radius: 50px;
    cursor: pointer;

    .mat-icon {
      width: 60px;
      height: 60px;
      font-size: 60px;
      vertical-align: middle;
    }

    span {
      position: absolute;
      font-size: 14px;
      font-weight: bold;
      bottom: 0;
      height: 60px;
      opacity: 0;
      color: transparent;
      left: 19px;
      transition: opacity .3s linear, height .1s;
      -webkit-transition: opacity .3s linear, height .1s;
      -moz-transition: opacity .3s linear, height .1s;
    }

    &:focus,
    &:hover {
      background: darken(#3f51b5, 15%);

      span {
        color: #3f51b5;
        transition: opacity .2s linear, height .4s;
        -webkit-transition: opacity .2s linear, height .4s;
        -moz-transition: opacity .2s linear, height .4s;
        height: 0;
        opacity: 1;
      }
    }
  }
  @media (max-width: 1024px) {
    top: auto;
    right: 5%;
    bottom: -46px;
  }
}
