<form class="forgot-form" [formGroup]="forgotPasswordForm" novalidate>
  <mat-form-field class="full-width">
    <input matInput type="email" placeholder="Email" formControlName="email">
   
   <mat-error *ngIf="email.errors">
      <span *ngIf="email.errors.required">Required</span>
      <span *ngIf="!email.errors.required && email.errors.email ">Invalid email</span>
    </mat-error>
  </mat-form-field>
  <button class="submit" mat-raised-button color="accent" (click)="resetPassword()" type="submit">Get recovery email</button>
</form>