@import '~app/scss_mixins/shared-mixins';
@import '~app/core/lm-theme.scss';
@include AbsoluteElement();
@include lazy-menu-theme($lm-app-theme);
.profile {
  padding: 30px;
  .header {
    background: $med-grey;
    color: #fff;
    .mat-card-title {
      font-size: 1.2em;
      margin: .6em 0;
      font-weight: bold;
    }
    .material-icons {
      font-size: 2em;
      vertical-align: middle;
    }
  }
  .section {
    margin: 1.5em 0;
    position: relative;
    .sub-section {
      margin-top: 0;
      &.mat-expanded {
        margin: 0;
      }
    }
    .mat-expansion-panel-header {
      height: 70px !important;
      &.mat-expanded {
        background: $med-red;
        .mat-expansion-panel-header-title {
          color: #fff;
          .material-icons {
            color: #fff;
          }
        }
      }
      .mat-expansion-panel-header-title {
        color: $med-grey;
        font-size: 1.2em;
        line-height: 24px;
        .material-icons {
          vertical-align: middle;
          line-height: 24px;
          margin-right: 10px;
          color: $med-grey;
        }
      }
    }
  }
}