@import '~app/core/lm-theme.scss';
@mixin body-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  body {
    margin: 0;
    background: mat-color($primary);
  }
}

@include body-theme($lm-app-theme);