<p>My husband and I are an average couple who lives and works in London. Urban life has often left us very little or close to
  no time for cooking a dinner. Not to mention grocery shopping…
</p>
<p>
  We’ve always tried to pay attention to what we eat. With that in mind, we always knew: home cooking is the key to ensure
  the food quality and save money.
</p>
<p>
  Our weekly routine was to go grocery shopping every weekend, usually, we would get random ingredients and leave figuring
  out dishes to cook till later. That's how I (person with better cooking skills :)), would always end up having my mind
  busy, puzzling out “What to cook for dinner?” and “What’s in my fridge? “ while commuting home every night. I'll be honest,
  often, tired of thinking, I would pop into the nearest takeaway and get whatever the shop has to offer. At the end of the
  week, we had no choice but to bin the rotten vegetables, and restart the circle again… Sad but true!
</p>
<p>
  I’m not going to write the endless story about children starving somewhere in the world and limited resources on the overpopulated
  planet, I'll just say: “That's not how it should be!”
</p>
<p>
  So, we decided to be more organised and created a Lazy Menu - a vast list of, considerably easy to make and nutritious, dishes
  that we like. This way we could rotate and methodize recipes week by week. Next thing we did is extracted shopping list
  from the generated menu.
</p>
<p>
  Since we both happen to be Web Developers, we made it all the way we know best. As a result, we have a [WEB ADDRESS].
</p>
<p>
  Anyone facing the same dilemma, are welcome to use it.
</p>
<ul>
  Lazy Menu Mission:
  <li>Inspire home cooking and give dinner ideas.</li>
  <li>Save time.</li>
  <li>Keep peace of mind while continue eating well.</li>
  <li>Ingredient shopping that will minimise waste?</li>
</ul>